spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ms_email_ms
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
    ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    addresses: amqps://chameleon.lmq.cloudamqp.com:5671
    username: pvopganv
    password: O81sRQrggMReP1Ra6rEaleqiuaE9oyes
    virtual-host: pvopganv
    ssl:
      enabled: true

server:
  port: 8081